<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.trotus.workrecordspro" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewShift"
            android:label="@string/title_activity_new_shift"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.trotus.workrecordspro.MainActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.trotus.workrecordspro.MainActivity" />
        </activity>
        <activity
            android:name=".ManageJobs"
            android:label="@string/title_activity_manage_jobs"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.trotus.workrecordspro.MainActivity" />
        </activity>
        <activity
            android:name=".EditJob"
            android:label="@string/title_activity_edit_job"
            android:parentActivityName=".ManageJobs" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.trotus.workrecordspro.ManageJobs" />
        </activity>
    </application>

</manifest>
